$baldiv: #41C1B4;
$balfont: #DAAF40;

.bright-and-light {
    background-color: white;
    margin-top: 80px !important;
    margin: 0px auto;
    color: $balfont;
    .row {
        align-items: center;;
    }
    .job-title{
        font-size: 40px;
        width: 50%;
        margin-top: 100px;
        p{
            border-top: 10px solid $balfont;
        }
        
        
    }
    .name {
        font-size: 60px;
        width: 50%;
        font-weight: bold;
        p{
          margin: 0px;
          height: 50px;
        }

    }

    .custom-table {
        width: 50rem;
        margin: 0px auto;
        color: $baldiv;
        td {
             border-color: $baldiv;
             border-top: 2px solid $baldiv;
             border-bottom: 2px solid $baldiv;
        }
        td:first-child {
            border-right: 2px solid $baldiv;
            font-weight: bold;
        }
        td:nth-child(2) {
             border-right: 2px solid $baldiv;
        }
    }

    .about {
        .about-me-text{
            font-weight: bold;
            margin: 0px;
            margin-top: 50px;
            font-size: 20px;
            text-align: center;
            
        }

        .summary-one {
            width: 50rem;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
            color: grey;
        }
        .summary-two {
            width: 50rem;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
            color: black;
        }
    }

    .education-text {
         font-weight: bold;
            margin: 0px;
            margin-top: 50px;
            font-size: 20px;
            text-align: center;
    }

    .education{
        margin-top: 20px;
        color: black;
        p:first-child {
            color: $balfont;
            font-weight: bold;
        }
    }

    .experience {
        .experience-text {
            font-weight: bold;
            margin: 0px;
            margin-top: 50px;
            font-size: 20px;
            text-align: center;
        }

        .experience-table{
            margin-top: 20px !important;
            width: 50rem;
            margin: 0px auto;
            color: $baldiv;
            td {
                border: none;
            
            }
            th {
                border: none;
                    color: $balfont;
            }
        }
    }

    .footer {
        background-color: $baldiv;
        bottom: 0px;
        left: 0px;
        height: 60px;
        margin-top: 251px;
    }
}

    @media print {
              .bright-and-light{
                width: 100% !important;
        
                position: relative;;
         height:100vh;
         z-index:15;
         margin: 0px auto;
         
              }
              .navbarcustom {
                display: none;
              }

              *, body {
                background-color: #fff;
                background-image: unset;
              }

              
            }
