.custom-column {
  background-color: white;
  overflow: scroll;
  //   padding: 40px;
  //   -webkit-box-shadow: 3px 3px 16px 0px grey;
  //   -moz-box-shadow: 3px 3px 16px 0px grey;
  //   box-shadow: 3px 3px 16px 0px grey;
}

// Form css

.form-block {
  //   border: 1px solid #d3d3d3;
}

form {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.form-title {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-top: 20px;
  //   background-color: #45adff;

  color: #45adff;
  span {
    margin-left: 10px;
    margin: 0px auto 0px auto;
    font-size: 25px;
  }
}

hr {
  background-color: #45adff;
  height: 2px !important;
  margin-top: 0px !important;
  -webkit-box-shadow: 3px 3px 16px 0px grey;
  -moz-box-shadow: 3px 3px 16px 0px grey;
  box-shadow: 3px 3px 16px 0px grey;
}

input {
  width: 90%;
  height: 50px;
  border-style: solid;
  font-size: 18px !important;
  padding-left: 10px;
}

label {
  width: 90%;
  display: block;
  font-size: 20px;
}

textarea {
  display: block;
  border-style: solid;
  width: 90%;
}

textarea,
input,
label {
  margin-left: 5% !important;
  margin-bottom: 15px !important;
  border-color: #45adff;
}

label {
  margin-bottom: 5px !important;
}

// button group

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

  button {
    width: 40%;
    height: 60px;
    text-transform: uppercase;
    border-radius: 0px;
  }
}
