@import "./styles/resume-themes.scss";

body {
    background:  linear-gradient(
        #f80759e6,
        rgba(188, 78, 156, 0.9)
      ),
      url("/static/images/resume-image.jpg") no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
}

.login{
    background-color: white;
    height: 800px;
    overflow-y: scroll;
    border-radius: 20px;
    margin-top: 250px;
    margin-bottom: 250px;
}

.content {
    background-color: white;
    margin-top: 150px;
    width: 60rem;;
    min-height: 20rem;
    border-radius: 5px;
  
}

.menubar{
    background-color: white;
    height: 80px;
    span{
        font-size: 30px;
        margin-left: 20px;
        color: #1E1E24;
    }
    display: flex;
    align-content: center;

}

.heading{
    margin-top: 100px;
    color: white;
    text-align: center;

    p:first-child{
        margin: 0px;
        font-size: 40px;
        color: white;
    }

    p {
        font-size: 20px;
        color: #1E1E24;
    }
      .build-now {
        background-color: #7AE7C7;
        padding: 10px;
    }
}

.stepper {
    background-color: white;
    border-radius: 10px;
    padding: 40px 200px;
}

.theme-selection {
    .theme-button {
        margin-top: 50px;
        height: 200px !important;
        width: 150px;
        background-color: black;
        color: white !important;
        background:  url("/themes/resume1.png");
        background-position: -40px;
        background-size: cover;
        border: 2px solid #f80759e6;
        border-radius: 2px;
    }
}