body {
    background: url("/static/images/resume-image.jpg") no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
}

.login{
    background-color: white;
    height: 800px;
    overflow-y: scroll;
    border-radius: 20px;
    margin-top: 250px;
    margin-bottom: 250px;
}
